# ================================
# ARLETTE MA COMMUNE — Backend API
# ================================

# Serveur
PORT=3001
NODE_ENV=development

# Base de données (Supabase PostgreSQL)
DATABASE_URL=postgresql://postgres:[PASSWORD]@db.[PROJECT].supabase.co:5432/postgres

# JWT
JWT_SECRET=change_this_secret_key_very_long_and_random
JWT_EXPIRES_IN=7d

# Cloudinary (stockage photos)
CLOUDINARY_CLOUD_NAME=dtupuhten
CLOUDINARY_API_KEY=759291159225774
CLOUDINARY_API_SECRET=ViWpCKwsQqDvG45Qf7PqLHvaKOE

# Firebase (notifications push)
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=

# Africa's Talking (OTP SMS - Côte d'Ivoire)
AFRICASTALKING_API_KEY=
AFRICASTALKING_USERNAME=
AFRICASTALKING_SENDER_ID=ArletteCI

# CORS
FRONTEND_URL=http://localhost:5173
